@import "../../../styles/variables.scss";

.Container {
  display: none;
  position: fixed;
  z-index: 12;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  top: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: $color-pry;
  overflow: hidden;
  box-shadow: 0 0 5px $color-white;

  @media screen and (max-width: 550px) {
    display: flex;
  }
}
