@import "../../../styles/variables.scss";

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, transparent, $color-light);
  color: $color-dark;
  padding: 2rem;
  margin-top: 3rem;
  border-top: 2px solid white;
}
