@import "../../styles/variables.scss";

.Container {
  img {
    object-fit: contain;
    width: 100%;
    height: 90vh;
    border-radius: 2rem;
    transition: all ease 300ms;
    border: 3px solid transparent;

    &.Active {
      border: 3px dashed $color-light;
      transform: scale(0.95);
    }
  }
}
