@import "../../styles/variables.scss";

.Container {
  width: 100%;
  color: $color-light;
  font-weight: 300;
  font-size: 2rem;

  section {
    padding: 2rem;
    padding-top: 0;
    text-align: justify;
  }

  a {
    background: linear-gradient(135deg, $color-light, $color-pink);
    color: $color-pry;
    display: inline-block;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    font-size: 85%;
  }
}
