@import "../../../styles/variables.scss";

.Container {
  color: $color-dark;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &:hover {
    img {
      scale: 1.05;
    }
  }

  @media screen and (max-width: 400px) {
    max-width: 32rem;
    margin: 0 auto;
  }

  .Details {
    background: $color-light;
    border-radius: 0 0 2rem 2rem;
    border: 2px solid white;
    border-top: none;
    text-align: justify;
    min-height: 10rem;
  }

  .Heading {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    color: darken($color-pry, 10%);

    span {
      color: $color-pry;
    }

    div {
      display: flex;
      font-size: 90%;
      align-items: center;
      justify-content: space-around;
      line-height: 1.3;

      .Read {
        font-size: 1.2rem;
        color: $color-white;
        border: 1px solid $color-white;
        background-color: darken($color-pry, 10%);
        padding: 0.5rem;
        border-radius: 1rem;
      }
    }
  }

  .Description {
    padding: 0.5rem 1rem;
    margin-bottom: auto;
    line-height: 1.5;
  }

  .ImageContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20rem;
  }

  img {
    min-height: 20rem;
    transition: 300ms all;
    width: 100%;
    object-fit: cover;
  }
}
